/* few elements inspired from Dive into * by Mark Pilgrim's CSS */
/* due acknowledgement to the original source for the relevant parts */


/* Base CSS */

html
  overflow-y: scroll
  text-rendering:optimizeLegibility
  -webkit-font-smoothing: antialiased

html, body
  background: #fff
  color: #333
  margin: 0
  padding: 0

body
  font-family: "Libre Baskerville", "Linux Libertine O", serif
  max-width: 720px
  margin: 0 auto
  padding-bottom: 2em

.clear
  clear: both

h1:before
  content:''

h1, h2, h3, h4, h5, h6
  padding:0
  margin:0
  border:0
  line-height:64px
  clear:both
  font-family: 'Libre Franklin', sans-serif

pre, kbd, samp, code, var
  word-spacing: 0
  letter-spacing: 0
  font-family: 'PT Mono', monospace

h1
  text-transform:uppercase

h2
  font-size:36px

h3
  font-size:x-large


hr
  width: 50%
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #666; /* old IE */
  background-color: #666; /* Modern Browsers */

pre
  white-space: pre-wrap
  white-space: moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  overflow-x: auto
  display: block
  margin: 1rem

figure
  margin: 0 0 2rem 0

figcaption
  font-size: 14px
  padding: 10px
  color: #666
  line-height: 1.2rem
  text-align: left

.credits
  color: #999
  text-transform: uppercase
  display: inline

.footer
  text-align: center
  margin: 1rem

.social-icons
  list-style: none
  margin: auto
  li
    display: inline
    padding: 5px

  li a:hover
    color: brown


::-moz-selection
  background: #333
  color:white
  text-shadow: none

::selection
  background: #333
  color:white
  text-shadow: none

a:link, a:visited, a:active
  text-decoration:none
  color: black

img
  display: block
  margin: 0 auto
  width: 100%

.container
  margin: 0 auto

.content
  line-height: 2rem
  margin-bottom: 3rem

  a:link, a:visited, a:active
    color: #23527c
    outline: 0
  a:hover
    text-decoration: underline

  p, h1, h2, h3, h4, h5, h6
    margin: 0 3.5rem 1.5rem 3.5rem

  blockquote
    color: #555

  ul li, ol li
    padding-bottom: .25rem

  ul, ol
    margin: 0 3.5rem 1.5rem 3.5rem
    padding-left: 0


.footnote
  line-height: 1.4rem
  color:#666 
  font-size: small
  p
    margin: .25rem !important


.toc
  margin-bottom: 2em
  ul li, ol li
    margin: 0
    padding: 0
  ul, ol
    padding: 0

.banner
  text-align: center

  .banner-title
    font-family: 'Libre Franklin', sans-serif
    text-transform: uppercase
    font-size: 4rem
    letter-spacing: 0.2em

  .banner-subclause
    font-family: "Satisfy", cursive
    font-size: 1.2rem
    margin: .5rem auto 1rem auto

.metadata
  text-align: center
  margin: 1rem 0

.title
  text-align: center
  text-transform: uppercase
  font-size: 1.25rem
  letter-spacing: .1rem
  padding: 2rem 0 2rem 0

.category
  color: black
  letter-spacing: 0.1rem

.timestamp
  font-style: italic
  font-size: .6rem

.archive
  font-size: 0.75rem
  text-transform: uppercase
  letter-spacing: 0.1rem
  padding: .5rem
  text-align: center

.divider
  width: 500px
  margin: 5px auto 5px auto
  border-top: 1px solid #B92B27

.list-item
  text-align: center
  margin-top: 1.25em

  a, a:hover, a:link, a:visited
    text-transform: uppercase
    color: black
    letter-spacing: 0.1em

.list-nav
  font-size: .75rem
  font-style: italic

.article-end
  text-align: center
  text-transform: lowercase
  clear: both
  margin: 2rem auto

.share
  text-align: center
  padding: 3rem

.codehilite
  background: #f3f3f3 !important

.hint
  color: #060

.side-card
  display: inline-block
  clear: both
  color: grey
  font-size: .8rem
  list-style-type: none
  width: 25%
  margin-left: 0rem !important

.go-left
  float: left
  text-align: left
