/* Responsive styles
 */

/* 560px */
@media only screen and (min-width: 35em) {
    html { font-size: 75%; }
    #banner { width: auto; }
    article { width: auto; }
}

/* 800px */
@media only screen and (min-width: 50em) {
    html { font-size: 90%; }
    #banner { width: 750px; }
    article { width: 600px; }
}

/* 1440 px */
@media only screen and (min-width: 90em) {
    html { font-size: 100%; }
}

/* 1900px+ */
@media only screen and (min-width: 120em) {
    html { font-size: 110%; }
    article { width: 650px; }
}

/* Print styles
 */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .no-print, .no-print * {
        display: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
