body {
  background-color: #fff;
  letter-spacing: 0.05em;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua",
    Baskerville, "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond",
    "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook",
    "Century Schoolbook L", Georgia, serif;
  text-rendering: optimizeLegibility;
  line-height: 1.5em;
}

figcaption {
  padding: 10px;
  font-size: 0.75em;
}

::-moz-selection {
  background: #333;
  color: white;
  text-shadow: none;
}

::selection {
  background: #333;
  color: white;
  text-shadow: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-top: 2rem;
}
.content a:link, .content a:visited, .content a:active, .content a:hover {
  color: #0D47A1;
}

ol {
  line-height: 1.5em;
}

img {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  margin-bottom: 5rem;
}

#banner {
  margin: 0 auto;
  border-bottom: 1px solid #E2E2E2;
  text-align: center;
}

.banner-title {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.5em;
  margin: 0.5em 0 0.5em 0;
}

.banner-subclause {
  font-size: 1.125rem;
  margin: 0.5em auto 1em auto;
  padding: 0 5em 0 5em;
  color: #999;
}

article {
  margin: 0 auto;
}

article blockquote {
  color: #555;
}

.metadata {
  text-align: center;
  margin: 0 0 2em 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}

.category {
  color: black;
  letter-spacing: 0.1em;
}

.timestamp {
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.archive {
  padding: 0 0 1em 0;
  text-align: center;
}

.divider {
  width: 300px;
  margin: 5px auto 5px auto;
  border-top: 1px solid #B92B27;
}

.list-item {
  text-align: center;
  margin-top: 1.25em;
}

.list-item a {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
}

.list-nav {
  font-size: 0.75em;
  font-style: italic;
}

.article-end {
  text-align: center;
  text-transform: lowercase;
  clear: both;
  width: 300px;
  margin: 40px auto 30px auto;
  border-bottom: 2px solid #B92B27;
}

.share {
  text-align: center;
  font-size: 8px;
}

pre {
  font-family: 'Source Code Pro';
}

.codehilite {
  background-color: #fafafa;
  padding: 5px;
  font-size: 0.8em;
}
