body
  background-color: #fff
  letter-spacing: 0.05em
  font-family: 'Georgia', serif

figcaption
  padding: 10px

::-moz-selection
    background: #333
    color:white
    text-shadow: none

::selection
    background: #333
    color:white
    text-shadow: none

a:link, a:visited, a:hover, a:active
    color:#0051B8
    text-decoration:none

ol
  line-height: 1.5em

img
  display: block
  margin: 0 auto

p
  line-height: 1.5em

.container
  margin: 0 auto

#banner
  margin: 0 auto
  padding-bottom: 30px
  border-bottom: 1px solid #E2E2E2

article
  margin: 0 auto

article blockquote
  color: #555

.banner-title
  font-family: 'Open Sans', sans-serif
  text-transform: uppercase
  font-size: 6em
  letter-spacing: 0.2em
  line-height: 1em
  margin: .5em 0 .3em 0

.banner-subclause
  font-size: 1.125em
  line-height: 1.2em
  margin: .5em auto 1em auto
  color: #999

.metadata
  text-align: center
  margin: 0 0 2em 0

.title
  text-align: center
  text-transform: uppercase
  font-size: 1.6em
  margin-bottom: 1em

.content
  padding: 20px 40px 100px 40px

.nav
  font-size: 12px

.category
  color: black
  font-size: 15px
  letter-spacing: 0.1em
  line-height: 1.2em

.timestamp
  font-style: italic
  font-size: 15px
  letter-spacing: 0.1em
  line-height: 1.2em

.archive
  margin: 5px auto 0px auto
  padding: 0 10px
  text-align: center
  font-size: 18px

.divider
  width: 300px
  margin: 5px auto 5px auto
  border-top: 1px solid #B92B27

.list-item
  text-align: center
  margin-top: 1.25em
  line-height: 1.5em

.list-item a
  font-size: 18px
  text-transform: uppercase
  color: black
  letter-spacing: 0.1em

.list-nav
  font-size: 12px
  font-style: italic

.article-end
  text-align: center
  text-transform: lowercase
  clear: both
  width: 300px
  margin: 40px auto 30px auto
  border-bottom: 2px solid #B92B27

.share
  text-align: center
  font-size: 8px
