a.footnote-reference,
a.citation-reference {
    position: relative; top: -0.5em; font-size: 60%;
}

code, pre {
    font-family: monospace;
}

.social-icons {
    right: 10px;
    top: 50px;
    margin: auto;
    z-index: 2;
    position: fixed;
    list-style: none;
    font-size: 40px;
}

.social-icons li {
    padding: 10px;
    line-height: 30px;
}

.social-icons li a:hover {
    color: brown;
}

/*
==============================================
tossing CSS3 animation
==============================================
*/

.tossing{
    animation-name: tossing;
    -webkit-animation-name: tossing;    

    animation-duration: 2.5s;   
    -webkit-animation-duration: 2.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        transform: rotate(-4deg);   
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);   
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-4deg);   
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    100% {
        -webkit-transform: rotate(-4deg);   
    }
}
