#container {
  width: 960px;
  margin: 0px auto 10px auto;
}

#content {
  width: 800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-weight: 300;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}

div.postdiv {
  line-height: 1.3;
}

div.postmeta {
  font-size: 90%;
  line-height: 1.3;
  margin-bottom: 20px;
}

ul.bottom > li {
  margin-bottom: 6px;
}

ul.bottom > li > a {
  color: rgb(51, 51, 51);
}

ul.bottom > li > a:hover {
  color: brown;
}

hr {
  width: 75%;
  color: #444;
  margin: 20px auto 20px auto;
  clear: both;
}

div.postdiv > p,
div.postdiv * p,
body
{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4em;
  font-weight: 300;
}

a {
  color: #0051B8;
}

a:hover {
  color: #b00;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.footer {
  text-align: center;
}

ul.breadcrumb > li:before {
  content: " / ";
}

.footnote {
  font-size: 10px;
}

.label {
  font-size: 10px;
  background-color: transparent;
}

table.docutils {
  border: none;
}

ul.post-tags {
  display: inline-block;
  margin-left: 5px;
}

ul.post-tags >li {
  display: inline;
}
