html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font: 18px / 1.566 "Libre Baskerville", "Linux Libertine O", "Palatino Linotype",
    Georgia, serif;
  word-spacing: 0.1em;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 2em;
}

h1:before {
  content: '';
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 64px;
  text-align: center;
  clear: both;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: x-large;
}

pre, kbd, samp, code, var {
  font-size: small;
  word-spacing: 0;
  letter-spacing: 0;
}

pre {
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

figcaption {
  padding: 10px;
  font-size: 0.75rem;
}

.footnotes {
  font-size: small;
}

::-moz-selection {
  background: #333;
  color: white;
  text-shadow: none;
}

::selection {
  background: #333;
  color: white;
  text-shadow: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

ol {
  line-height: 1.5em;
}

img {
  display: block;
  margin: 0 auto;
}

article {
  margin: 0 auto;
}

article blockquote {
  color: #555;
}

ul li {
  margin: 0.25rem 0;
}

.container {
  margin: 0 auto;
}

.content {
  padding: 0 10% 5% 10%;
}
.content a:link, .content a:visited, .content a:active {
  color: #804040;
}
.content a:hover {
  border-bottom: 1px dotted;
}

.banner {
  text-align: center;
}
.banner .banner-title {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.3em;
}
.banner .banner-subclause {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin: 0.5em auto 1em auto;
  padding: 0 5% 0 5%;
}

.metadata {
  text-align: center;
  margin: 0 0 2em 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  padding: 2rem 0 2rem 0;
}

.category {
  color: black;
  letter-spacing: 0.1em;
}

.timestamp {
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.archive {
  font-size: 0.9rem;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
}

.divider {
  width: 500px;
  margin: 5px auto 5px auto;
  border-top: 1px solid #B92B27;
}

.list-item {
  text-align: center;
  margin-top: 1.25em;
}
.list-item a {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
}

.list-nav {
  font-size: 0.75em;
  font-style: italic;
}

.article-end {
  text-align: right;
  font-style: italic;
  text-transform: lowercase;
  clear: both;
  margin: 6rem auto 0 auto;
  border-top: 2px solid #B92B27;
}

.share {
  text-align: center;
  font-size: 8px;
  padding-bottom: 2em;
}

.codehilite {
  padding: 0.25rem;
}

.hint {
  color: #060;
}

.side-card {
  font-size: 1.1rem;
  width: 25%;
  height: 10%;
  display: inline-block;
  font-style: italic;
  color: grey;
}

.go-left {
  float: left;
  text-align: left;
  margin-right: 1rem;
  border-right: 1px solid black;
}

.go-right {
  float: right;
  text-align: right;
  margin-left: 1rem;
  border-left: 1px solid black;
}
