html {
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html, body {
  background: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Baskerville", "Linux Libertine O", Georgia, serif;
  max-width: 860px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.clear {
  clear: both;
}

h1:before {
  content: '';
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 64px;
  text-align: center;
  clear: both;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: x-large;
}

pre, kbd, samp, code, var {
  word-spacing: 0;
  letter-spacing: 0;
}

hr {
  width: 50%;
  border: none;
  height: 2px;
  color: #666;
  background-color: #666;
}

pre {
  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

figure {
  margin: 0 0 2rem 0;
}

figcaption {
  font-size: 14px;
  padding: 10px;
  color: #666;
  line-height: 1rem;
  text-align: left;
}

figcaption .credits {
  color: #999;
  text-transform: uppercase;
  display: inline;
}

.footnote, small[id^="id"] {
  line-height: 1.4rem;
  color: #666;
  font-size: small;
}
.footnote ol li, .footnote ul li, small[id^="id"] ol li, small[id^="id"] ul li {
  padding: 0;
}
.footnote p, small[id^="id"] p {
  margin-left: 1rem;
}

::-moz-selection {
  background: #333;
  color: white;
  text-shadow: none;
}

::selection {
  background: #333;
  color: white;
  text-shadow: none;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

article {
  margin: 0 auto;
}

article blockquote {
  color: #555;
}

article p, article blockquote, article ol, article ul, article h1, article h2,
article h3, article h4, article h5 {
  margin: 1rem 5% 1rem 5%;
}
article ul li, article ol li {
  padding: 0 0 1rem 0;
}

.container {
  margin: 0 auto;
}

.content {
  line-height: 1.556rem;
}
.content a:link, .content a:visited, .content a:active {
  color: #326891;
}
.content a:hover {
  border-bottom: 1px solid;
}

.index-title a:link, .index-title a:visited, .index-title a:active, .title a:link,
.title a:visited, .title a:active, .metadata a:link, .metadata a:visited,
.metadata a:active {
  color: black;
}

.toc {
  margin-bottom: 2em;
}
.toc ul li, .toc ol li {
  margin: 0;
  padding: 0;
}
.toc ul, .toc ol {
  padding: 0;
}

.banner {
  text-align: center;
}
.banner .banner-title {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.3em;
}
.banner .banner-subclause {
  font-family: "Satisfy", cursive;
  font-size: 1.3rem;
  margin: 0.5rem auto 1rem auto;
}

.metadata {
  text-align: center;
  margin: 1rem 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  padding: 2rem 0 2rem 0;
}

.category {
  color: black;
  letter-spacing: 0.1em;
}

.timestamp {
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0.1em;
}

.archive {
  font-size: 0.9rem;
  padding: 0.5rem;
  text-align: center;
}

.divider {
  width: 500px;
  margin: 5px auto 5px auto;
  border-top: 1px solid #B92B27;
}

.list-item {
  text-align: center;
  margin-top: 1.25em;
}
.list-item a {
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.1em;
}

.list-nav {
  font-size: 0.75em;
  font-style: italic;
}

.article-end {
  text-align: center;
  text-transform: lowercase;
  clear: both;
  margin: 2rem auto;
}

.share {
  text-align: center;
  padding: 3rem;
}

.codehilite {
  padding: 0.25rem;
}

.hint {
  color: #060;
}

.side-card {
  display: inline-block;
  clear: both;
  color: grey;
  font-size: 0.8rem;
  list-style-type: none;
  width: 25%;
  margin: 1rem 0;
}

.go-left {
  float: left;
  text-align: left;
}
