%head
  %link{href:'styles.css', rel:'stylesheet'}
  %link{href:'//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400',
  rel:'stylesheet'}
%body
  .container
    #banner
      .banner-title
        %a{href:".."} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections & visions of a distant future
      .divider
      .archive
        .category
          %a{href:"./places"} places,
          %a{href:"./books"} books,
          %a{href:"./science"} science,
          %a{href:"./programming"} programming,
          %a{href:"./unfinished"} unfinished
      .divider
    .content
      #article
        .title
          {{ page.title }}
          %br
        {{ page.content }}
        .article-end
