{% include "header.haml" %}
%body
  .container
    {% include "banner.haml" %}
    .content
      %article
        .title
          %a{href:"{{page.rel_site_url}}/{{page.url}}#main"}
            {{ page.subtitle }}
        .post
          {{ page.content }}
