%head
  %meta{charset:'utf-8'}
  %link{href:'/css/normalize.css', rel:'stylesheet'}
  %link{href:'/css/styles.css', rel:'stylesheet'}
  %title {{ page.subtitle }} | Shorts - Vivek Rai
%body
  .container
    .banner.no-print
      .banner-title
        %a{href:"{{ site.url }}"} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections <br> &amp; <br> visions of a distant future
      -#.divider
      .archive
        %a{href:"{{ page.rel_site_url }}/places.html"} places,
        %a{href:"{{ page.rel_site_url }}/books.html"} books,
        %a{href:"{{ page.rel_site_url }}/science.html"} science,
        %a{href:"{{ page.rel_site_url }}/programming.html"} programming,
        <br>
        %a{href:"{{ page.rel_site_url }}/notes.html"} notes,
        %a{href:"{{ page.rel_site_url }}/unfinished.html"} unfinished,
        %a{href:"{{ page.rel_site_url }}/about.html"} about
      -#.divider
    .content
      %article
        .title
          %a{href:"{{page.rel_site_url}}/{{page.url}}#main"}
            {{ page.subtitle }}
        .post
          {{ page.content }}
