.banner.no-print
  .banner-title
    %a{href:"{{ site.url }}"} Shorts
  .banner-subclause
    <i> Musings of a Free Mind, Recollections &amp; <br> Visions of the Distant Future </i>
  -# .divider
  .archive
    %a{href:"{{ page.rel_site_url }}/quotes.html"} quotes,
    %a{href:"{{ page.rel_site_url }}/books.html"} books,
    %a{href:"{{ page.rel_site_url }}/science.html"} science,
    %a{href:"{{ page.rel_site_url }}/programming.html"} programming,
    %a{href:"{{ page.rel_site_url }}/notes.html"} notes,
    %a{href:"{{ page.rel_site_url }}/unfinished.html"} unfinished,
    %a{href:"{{ page.rel_site_url }}/about.html"} about
  -# .divider
