.footer
  .social-icons
    %li
      %a{:href => "https://github.com/raivivek/"}
        %i.fa.fa-2x.fa-github
    %li
      %a{:href => "https://www.linkedin.com/in/vivek-rai/"}
        %i.fa.fa-2x.fa-linkedin
    %li
      %a{:href => "https://twitter.com/raivivek_"}
        %i.fa.fa-2x.fa-twitter
  %a{:href => "http://creativecommons.org/licenses/by-sa/4.0/", :rel => "license"}
    %img{:alt => "Creative Commons License", :src => "../images/cc-by-sa4.png", :style => "border-width:0; width:10%; margin-top:.5rem"}
