%head
  %link{href:'normalize.css', rel:'stylesheet'}
  %link{href:'styles.css', rel:'stylesheet'}
  %link{href:'//fonts.googleapis.com/css?family=Open+Sans:300', rel:'stylesheet'}
  %title {{ page.subtitle }} | Shorts - Vivek Rai
%body
  .container
    #banner.no-print
      .banner-title
        %a{href:"{{ site.url }}"} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections & visions of a distant future
      -#.divider
      .archive
        .category
          archives:
          %a{href:"{{ page.rel_site_url }}/places.html"} places,
          %a{href:"{{ page.rel_site_url }}/books.html"} books,
          %a{href:"{{ page.rel_site_url }}/science.html"} science,
          %a{href:"{{ page.rel_site_url }}/programming.html"} programming,
          %a{href:"{{ page.rel_site_url }}/unfinished.html"} unfinished
      -#.divider
    #main.content
      %article
        .metadata
          .category
            %a{href:"{{ site.url }}/{{ page.category }}.html"}
              {{ page.category }}
        .title
          %a{href:"{{page.rel_site_url}}/{{page.url}}#main"}
            {{ page.subtitle }}
        {{ page.content }}
        - for subpage in page.subpages:
          - if not subpage.type == 404:
            .list-item
              .list-nav
                  - if subpage['category']:
                    {{ subpage.category }}, {{ subpage.date.strftime("%d %b %Y") }}
              .list-title
                %a{href:"{{ page.rel_site_url }}/{{ subpage.url }}#main",
                   title:"{{ subpage.hover }}"}
                  {{ subpage.title }}
                %br
                {{ subpage.excerpt }}
