%head
  %link{href:'styles.css', rel:'stylesheet'}
  %link{href:'//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400',
  rel:'stylesheet'}
%body
  .container
    #banner
      .banner-title
        %a{href:"{{ site.url }}"} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections & visions of a distant future
      .divider
      .archive
        .category
          archives:
          %a{href:"{{ site.url }}/places.html"} places,
          %a{href:"{{ site.url }}/books.html"} books,
          %a{href:"{{ site.url }}/science.html"} science,
          %a{href:"{{ site.url }}/programming.html"} programming,
          %a{href:"{{ site.url }}/unfinished.html"} unfinished
      .divider
    .content
      #article
        .metadata
          .category
            %a{href:"{{ site.url }}/{{ page.category }}"}
              {{ page.category }}
        .title
          {{ page.subtitle }}
        {{ page.content }}
        %ul
          - for subpage in page.subpages:
            - if not subpage.type == 404:
              %li
                .list
                  %a{href:"{{ page.rel_site_url }}/{{ subpage.url }}"}
                    {{ subpage.title }}
                %i {{ subpage.excerpt }}
                %br
              .nav
                  - if subpage['category']:
                    category: {{ subpage.category }}
                    %br
                  date: {{ subpage.date.strftime("%d %b %Y") }}
                %br
                %br
