%head
  %meta{charset:'utf-8'}
  %link{href:'/css/normalize.css', rel:'stylesheet'}
  %link{href:'/css/styles.css', rel:'stylesheet'}
  %link{rel:"stylesheet", href:"//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
  %title {{ page.subtitle }} | Shorts by Vivek Rai
%body
  .container
    .banner.no-print
      .banner-title
        %a{href:"{{ site.url }}"} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections <br> &amp; <br> visions of a distant future
      -#.divider
      .archive
        %a{href:"{{ page.rel_site_url }}/places.html"} places,
        %a{href:"{{ page.rel_site_url }}/books.html"} books,
        %a{href:"{{ page.rel_site_url }}/science.html"} science,
        %a{href:"{{ page.rel_site_url }}/programming.html"} programming,
        <br>
        %a{href:"{{ page.rel_site_url }}/notes.html"} notes,
        %a{href:"{{ page.rel_site_url }}/unfinished.html"} unfinished,
        %a{href:"{{ page.rel_site_url }}/about.html"} about me
      -#.divider
    .content
      %article
        .metadata
          .category
            %a{href:"{{ site.url }}/{{ page.category }}.html"}
              {{ page.category }}
        .title
          %a{href:"{{page.rel_site_url}}/{{page.url}}#main"}
            {{ page.subtitle }}
        .post
          {{ page.content }}
        - for subpage in page.subpages:
          - if subpage.pinned:
            .list-item
              .list-nav
                  - if subpage['category']:
                    {{ subpage.category }}, {{ subpage.date.strftime("%d %b %Y") }}
              .list-title
                %a{href:"{{ page.rel_site_url }}/{{ subpage.url }}#main",
                   title:"{{ subpage.hover }}"}
                  <i class="fa fa-thumb-tack"></i> {{ subpage.title }}
                %br
                {{ subpage.excerpt }}
        - for subpage in page.subpages:
          - if not (subpage.type == 404 or subpage.draft or subpage.pinned):
            .list-item
              .list-nav
                  - if subpage['category']:
                    {{ subpage.category }}, {{ subpage.date.strftime("%d %b %Y") }}
              .list-title
                %a{href:"{{ page.rel_site_url }}/{{ subpage.url }}#main",
                   title:"{{ subpage.hover }}"}
                   {{ subpage.title }}
                %br
                {{ subpage.excerpt }}
