%head
  %link{href:'../normalize.css', rel:'stylesheet'}
  %link{href:'../styles.css', rel:'stylesheet'}
  %link{href:'//fonts.googleapis.com/css?family=Open+Sans:300', rel:'stylesheet'}
%body
  .container
    #banner.no-print
      .banner-title
        %a{href:"{{ site.url }}"} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections & visions of a distant future
      -#.divider
      .archive
        .category
          archives:
          %a{href:"{{ site.url }}/places.html"} places,
          %a{href:"{{ site.url }}/books.html"} books,
          %a{href:"{{ site.url }}/science.html"} science,
          %a{href:"{{ site.url }}/programming.html"} programming,
          %a{href:"{{ site.url }}/unfinished.html"} unfinished
      -#.divider
    .content
      %article
        .metadata
          .category
            %a{href:"{{ site.url }}/{{ page.category }}.html"}
              {{ page.category }}
          .timestamp
            {{ page.date.strftime ("%d %b %Y")}}
        .title
          {{ page.title }}
        .subtitle
          {{ page.subtitle }}
        {{ page.content }}
        .article-end
          - if page.author:
            Published by {{ page.author }}
        .share
          %a{href:"https://twitter.com/share",class:"twitter-share-button",
          data-text:"{{page.title.title()}}: Shorts by Vivek Rai", data-via:"vivek_ziel",
          data-hashtags:"{{page.category}}",data-dnt:"true"} Tweet
          %a{href:"https://twitter.com/vivek_ziel",class:"twitter-follow-button",
          data-show-count:"false",data-show-screen-name:"false",data-dnt:"true"} Follow @vivek_ziel
  %script
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
