%head
  %link{href:'../styles.css', rel:'stylesheet'}
  %link{href:'//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400',
  rel:'stylesheet'}
%body
  .container
    #banner
      .banner-title
        %a{href:"{{ site.url }}"} Shorts
      .banner-subclause
        Musings of a free mind, treasured recollections & visions of a distant future
      .divider
      .archive
        .category
          archives:
          %a{href:"{{ site.url }}/places.html"} places,
          %a{href:"{{ site.url }}/books.html"} books,
          %a{href:"{{ site.url }}/science.html"} science,
          %a{href:"{{ site.url }}/programming.html"} programming,
          %a{href:"{{ site.url }}/unfinished.html"} unfinished
      .divider
    .content
      #article
        .metadata
          .category
            %a{href:"{{ site.url }}/{{ page.category }}"}
              {{ page.category }}
          .timestamp
            {{ page.date.strftime ("%d %b %Y")}}
        .title
          {{ page.title }}
        .subtitle
          {{ page.subtitle }}
        {{ page.content }}
        .article-end
          Published by {{ page.author }}
